<div class="container">

<div class="card-background">
    <!-- <app-portfolio-content-card-button></app-portfolio-content-card-button> -->
</div>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At dolor illum eos sunt odio optio quo inventore, eligendi repudiandae eum natus libero cum? Error nisi in eveniet quis ipsam aliquid!</p>
<div class="middle-card">
<div class="card-background">
    <!-- <app-portfolio-content-card-button ></app-portfolio-content-card-button> -->
</div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At dolor illum eos sunt odio optio quo inventore, eligendi repudiandae eum natus libero cum? Error nisi in eveniet quis ipsam aliquid!</p>
</div>
<div class="card-background">
    <!-- <app-portfolio-content-card-button></app-portfolio-content-card-button> -->
</div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At dolor illum eos sunt odio optio quo inventore, eligendi repudiandae eum natus libero cum? Error nisi in eveniet quis ipsam aliquid!</p>

</div>