<div class="container">
<div class="card-background card-52">
    <div class="card-heading" routerLink="/Contact"> <h3 class="heading" >Silver</h3><p class="cost"></p> </div>
    <ul class="list">
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Single landing page</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Contact page</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Responsive design</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Custom design</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Maintenance & Support</div></li>
    </ul>

</div>
<div class="card-background card-52" routerLink="/Contact">
    <div class="card-heading"> <h3 class="heading" >Gold</h3><p class="cost"></p> </div>
    <ul class="list">
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Single landing page</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>2 additional pages</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Contact page</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Responsive design</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Custom design</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Maintenance & Support</div></li>
    </ul>
    
</div>
<div class="card-background card-52" routerLink="/Contact">
    <div class="card-heading"> <h3 class="heading" >Platinum</h3><p class="cost"></p> </div>
    <ul class="list">
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Single landing page</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>4 additional pages</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Contact page</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Responsive design</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i><p class="text" ></p>Custom design</div></li>
        <li class="line-item"><div class="inner-text"><i class="fas fa-check"></i> <p class="text" ></p>Maintenance & Support</div></li>
    </ul>
    
</div>
</div>