
<div class="container">
    <div class="about-me">
<p><span>Hi! I'm David French</span><br><br> I am a web and applications designer and developer. I began pursuing my passion in IT seven years ago following an early career in mechanics. My interests in mechanics brought me to IT as I discovered the detail, discipline and problem solving required across both industries. The web is a complex and ever-evolving forum and I love the variety and creativity it inspires. 
<br><br>
    My aim is to build high quality, responsive and fast websites, tailored to your needs. I do not use word press which means I create your vision from scratch, just for you. This gives you an original and unique product that cannot be replicated. 
    <br>
    <br></p>
    <span>How it works</span><p>
    <br>
    Firstly, we chat, discuss your business and what you’re looking for. Then we design, and I build. 
    <br><br>
    Sound easy enough?
    <br><br>
    That’s right! My business is purposed to make your work easy. I design and build your vision to create a high quality, unique and marketable website for your company. I provide ongoing technical support, and updates for 24 months following deployment. 
    <br><br>
    I have 3 basic packages based around what most websites require and depending on how advanced you want your site to be. I also tailor packages to your individual needs if you have specific requirements.
    </p></div>
</div>
<div class="button-container"><button class="button-53" routerLink="/Contact">Let's get started</button><button class="button-52" routerLink="/Services">Packages</button></div>
